@font-face {
  font-family: 'icomoon';
  src:  url('../src/assets/fonts/icomoon/icomoon.eot?qozlb1');
  src:  url('../src/assets/fonts/icomoon/icomoon.eot?qozlb1#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/icomoon/icomoon.ttf?qozlb1') format('truetype'),
    url('../src/assets/fonts/icomoon/icomoon.woff?qozlb1') format('woff'),
    url('../src/assets/fonts/icomoon/icomoon.svg?qozlb1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $name, $value in $font-icon {
  .#{$name} {
    &:before {
      content: "#{$value}";
    }
  }
}
