.page-footer {
  @include pxRem(padding, 10 20);
  background: map-get($color, white);
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: auto;
  border-top: 1px solid map-get($color, border);
  .todos-footer-toolbar {
    @extend %flex-between;
    flex-grow: 3;
    .toolbar-btn {
      @include pxRem(padding, 10 0);
    }
  }
}
