.page-header {
  background: map-get($color, primary);
  @include pxRem(height, 100);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: map-get($color, white);
  .container {
    height: 100%;
    position: relative;
  }
}
.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .logo {
    @include pxRem(height, 80);
  }
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
}
