.img-covered {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.primary-text {
  color: map-get($color, primary);
}
.secondary-text {
  color: map-get($color, secondary);
}
.font-bold {
  font-weight: bold;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
